.task{
  border: solid 2px rgba(255, 255, 255, 0.2);
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 100px;
  background: #dedede;
  transition: all 100ms ease-in-out;  
}

.task:hover{
  border: solid 2px #fd0000;
  cursor: pointer;
}

.task__title{
  color: black;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: .9rem;
}

.task__icon{
  background: white;
  padding: 0.5rem;
}