.lessoncontent{  
  align-items: center;  
  display: flex;
  flex-direction: column;
  justify-content: center;    
  height: 100%;
  position: absolute; 
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}

.lessoncontent__header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.lessoncontent__title{
  text-transform: uppercase;
  margin-right: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.lessoncontent__subtitle{
  font-size: 1.5rem;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
}

.lessoncontent__tasks{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.lessoncontent__tasksheader{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background: rgb(18, 154, 218);
  color: white;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.lessoncontent__tasksheader img{
  margin: 0 1rem;
}