.lessoncontent{  
  align-items: center;  
  display: flex;
  flex-direction: column;
  justify-content: center;    
  height: 100%;
  position: absolute; 
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}

.lessoncontent__header{
  border: 1px solid #dedede;
  padding: 1rem;
  width: 100%;
}

.lessoncontent__title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 2rem;
}

.lessoncontent__subtitle{
  font-size: 1.3rem;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
}

.lessoncontent__content{
  flex-grow: 1;
  width: 100%;
}