.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner-lines-container{
  width: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner-line {
  background: gray;
  height: 30px;
  width: 1px;
  font-size: 2rem;
}

.spinner-animate1 {
  animation: rotateline 1s linear infinite;
  background-color:indianred
}
.spinner-animate2 {
  animation: rotateline 1.5s linear infinite;
  background-color:green
}
.spinner-animate3 {
  animation: rotateline 1.9s linear infinite;
  background-color:blue
}
.spinner-animate4 {
  animation: rotateline 0.8s linear infinite;
  background-color:violet
}
.spinner-animate5 {
  animation: rotateline 1.4s linear infinite;
  background-color:purple
}
.spinner-animate6 {
  animation: rotateline 1.2s linear infinite;
  background-color:indianred
}

@keyframes rotateline {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
