.cardactions{
  bottom: 0;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  height: 30px;
  position: absolute;
  width: 100%;  
}

.button{
  background: white;
  border: none; 
  height: 20px;
  width: 40px;
  display: flex; 
  justify-content: center;
  align-items: center;
  transition: all 80ms;
}

.button:active{
  transform: scale(1.1);
  border-radius: 4px;
}

.right:hover{
  background: #5bc7a5;
}
.unknown:hover{
  background: #f0d4a1;
}
.wrong:hover{
  background: #f0a3a1;
}

