.displayFlashcards{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  justify-content: flex-start;
  overflow: auto;
  width: 100%;
}

.displayFlashcards__header{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 1rem;
  position: absolute;
  top: -4rem;
}

.flipall{
  align-items: center;
  background: none;
  border: solid 1px;
  border-bottom-color: gray;
  border-left-color: white;
  border-right-color: gray;
  border-top-color: white;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  height: 33px;
  justify-content: center;
  margin-top: 10px;
  width: 33px;
}

.flipall__pushed{
  border-left-color: gray;
  border-top-color: gray;
  border-right-color: white;
  border-bottom-color: white;
  transform: scale(0.9);
}

.allcompleted{
  font-size: 3rem;
  transform: translateY(3rem);
  color: rgb(85, 119, 34);
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}