.displayFlashcards{
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

.allcompleted{
  font-size: 3rem;
  transform: translateY(3rem);
  color: rgb(85, 119, 34);
}