.tile{
  border: solid 3px rgba(1,1,1,0);
  height: 150px;
  width: 150px;
  margin: 0 .5rem;
  position: relative;
  text-align: center;
  padding-top: 1rem;
  transition: all 100ms ease-in-out;
}

.tile__title{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: .5rem 0;
}

.tile__subtitle{
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
}

/* hover */
.tile:hover{  
  border: solid 3px #fd0000;
  cursor: pointer;
}