.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: arial;

  --primary-color: cornflowerblue;
  --accent-color: rgb(158, 36, 62);
  --warning-color: orange;
}

*{
  box-sizing: border-box;
}