.display-listening{
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);  
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}

.display-listening__text{
  align-items: center;
  background: white;
  cursor: pointer;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
  user-select: none;
  width: 200px;
  overflow: hidden;
}

.display-listening__text:hover{
  background: var(--primary-color);
  color: white;  
  box-shadow: 0px 0px 7px grey;
}

.display-listening__text:active{
  transform: scale(0.95);
}

.lessoncontent__bottom-buttons{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem;
  flex-grow: 1;
}