.display-reading{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);  
  position: relative;
  flex-wrap: wrap;
}

.display-reading__text{
  align-items: center;
  background: white;
  cursor: pointer;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin: .5rem;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
  user-select: none;
  width: 200px;
  overflow: hidden;
}

.display-reading__text:hover{
  background: var(--primary-color);
  color: white;
  transform: scale(1.3);
  box-shadow: 0px 0px 7px grey;
}

/* active */
.display-reading__text:active{
  transform: scale(0.95);
}

.display-reading__text-item{
  width: 100%;
  padding: .3rem;
  border-radius: .3rem;
}

.display-reading__text-item:hover{
  background: var(--accent-color) !important;
  color: white !important;
}